body {
    /*padding-top: 5rem;*/
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.navbar{
    background-color: #F1F1F1
}
.nav-item{
    text-align: right;

}
.jumbotron{
    background-image: url("../images/background-image1.jpg")

}
.jumbotron-fluid{
    height: 681px;
    width: 1024px;
    padding: 0px;

}
.container{
    padding: 0px;
}
#hero-text{
    background-color: rgba(0,0,0,0.5);
    height: 681px;
}
.display-2{
    color:white;
    padding: 15px;
}
.display-4{
    color: white;

    padding: 15px;

}

.lead{
    color: white;
    padding-left: 15px;
}